In [1]:
import pandas as pd
import matplotlib.pyplot as pt
data = pd.read_csv("data.csv", low_memory = False)
# data.columns
data['DATE'] = pd.to_datetime(data['EVENT_DATE'])
def to_year(date): return date.year
data['YEAR'] = data['DATE'].apply(to_year)

In [2]:
a1f = data[['INTER1', 'FATALITIES', 'YEAR']].rename(index=str, columns={"INTER1": "ACTOR_TYPE"})
a2f = data[['INTER2', 'FATALITIES', 'YEAR']].rename(index=str, columns={"INTER2": "ACTOR_TYPE"})
all_actors = a1f.append(a2f)
# all_actors[all_actors['ACTOR_TYPE'] == 0]

## Top 10 Actors with the most conflicts

In [3]:
top10conflicts = pd.DataFrame(all_actors.groupby(all_actors[
    'ACTOR_TYPE']).size().reset_index(name="Counts").sort_values(by='Counts', ascending = False)[0:10])

top10actors_conflict = []
for actor in top10conflicts['ACTOR_TYPE']:
    top10actors_conflict.append(actor)

In [4]:
conflict_types = {
    0 : "Unkown Actor Type",
    1 : "Government or mutinous force",
    2 : "Rebel force",
    3 : "Political militia",
    4 : "Ethnic militia",
    5 : "Rioters",
    6 : "Protesters",
    7 : "Civilians",
    8 : "Outside/external force (e.g. UN)",
}

top = all_actors[all_actors['ACTOR_TYPE'] == top10actors_conflict[0]]
top_sorted = top.groupby(top['YEAR']).size().reset_index(name=conflict_types[top10actors_conflict[0]]).sort_values(by='YEAR', ascending = True)
new_frame = pd.DataFrame(data=top_sorted)

for i in range(1,9):
    top = all_actors[all_actors['ACTOR_TYPE'] == top10actors_conflict[i]] 
    current_name = conflict_types[top10actors_conflict[i]]
    top_sorted = top.groupby(top['YEAR']).size().reset_index(name=current_name).sort_values(by='YEAR', ascending = True)
    new_frame[current_name] = top_sorted[current_name]

# new_frame.to_csv('Conflict_Count')
# print(top10actors_conflict)
# new_frame
#     dataFrame.append(new_series)
#     print('name:', top10actors_conflict[i])
#     print(top_sorted)

In [5]:
# for g in tops:
#     pt.plot(g['YEAR'], g['Counts'])

# pt.legend(legend)
# pt.xlabel("Year")
# pt.ylabel("Count")
# pt.show()
# # pt.savefig('counts.png')

## Total Fatalities over time

In [6]:
to_plot = data.sort_values(by='YEAR')

# pd.DataFrame(to_plot.groupby(to_plot['YEAR'])['FATALITIES'].sum()).plot()#.size().reset_index(name="Counts").sort_values(by='Counts', ascending = False)[0:10])

## Fatality counts by Actor Type

In [7]:
# all_actors.groupby(['ACTOR'])['FATALITIES'].sum().sort_values(ascending = False)

In [8]:
top10f = []
for actor, fatalities in all_actors.groupby(['ACTOR_TYPE'])['FATALITIES'].sum().sort_values(ascending=False).iteritems():
    top10f.append(actor)

In [11]:
current = all_actors[all_actors['ACTOR_TYPE'] == top10f[0]]
current_sorted = current.sort_values(by='YEAR', ascending = False)
frame = current_sorted.groupby(current_sorted['YEAR'])['FATALITIES'].sum()
fatalities = pd.DataFrame(data=frame)
fatalities = fatalities.rename(index=str, columns={"FATALITIES": conflict_types[top10actors_conflict[0]]})

for i in range(1,9):
    current = all_actors[all_actors['ACTOR_TYPE'] == top10f[i]]
    current_sorted = current.sort_values(by='YEAR', ascending = False)
    frame = pd.DataFrame(current_sorted.groupby(current_sorted['YEAR'])['FATALITIES'].sum())
    frame = frame.rename(index=str, columns={"FATALITIES": conflict_types[top10actors_conflict[i]]})
    fatalities[conflict_types[top10actors_conflict[i]]]  = frame[conflict_types[top10actors_conflict[i]]]
fatalities.to_csv('fatalities.csv')

In [12]:
fatalities

,Government or mutinous force,Political militia,Civilians,Rebel force,Unkown Actor Type,Protesters,Rioters,Ethnic militia,Outside/external force (e.g. UN)
YEAR,,,,,,,,,
1997,8778,40554,35029,610,932,36,5,53,15
1998,45525,53358,11978,3121,2940,17,49,1000,0
1999,153699,79618,17446,92696,1021,2142,2,1000,0
2000,7810,9424,5146,1020,456,854,34,10,0
2001,12112,14906,3905,523,669,1283,98,19,17
2002,4079,8656,3259,2672,1249,3405,66,19,1
2003,1589,3188,1898,587,2529,2353,56,53,3
2004,1485,1271,803,64,642,74,107,28,0
2005,1465,1264,1349,30,1030,860,34,28,0
2006,2215,1568,941,32,1444,620,4,0,0
2007,1637,1659,472,78,837,188,37,31,3
2008,1673,2922,2670,147,559,123,112,0,2
2009,4733,8335,4113,396,726,309,16,2,0
2010,1606,2453,1430,220,441,86,19,9,0
2011,2195,828,594,31,737,188,1167,33,63
2012,1563,1110,866,236,1002,146,217,5,15
2013,3914,1016,2446,126,5787,215,1730,115,631
2014,3453,1885,3327,457,6022,997,419,13,31
2015,6053,4222,3305,270,3686,735,217,29,89
2016,20885,16134,9042,2383,10444,6030,1068,71,643
2017,8293,7188,6171,1221,6909,4888,174,61,43